/* @keyframes Slide-in {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    50% {
        transform: translateX(25%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }

} */

.skl-content {
    display: flex;
    align-items: center;
    margin: 1vmax 0 1.4vmax;
}

.skl-logo {
    padding-right: 1vmax;
}

.skl-logo img {
    width: 3vmax;
}

.skl {
    display: flex;
    /* align-items: center; */
    position: relative;
    flex-direction: column;
    width: 100%;
}

.skl-name {
    font-size: 1.4em;
    padding-bottom: 10px;
    color: black;
        font-weight: 500;
}

.skl-name {
    font-size: 1.4em;
    padding-bottom: 10px;
    color: #afafaf;
}

.skl-bar {
    top: 80%;
    position: absolute;
    height: 0.4vmax;
    width: 100%;
    background-color: #fff;
}

.skl-prcnt {
    height: 100%;
    width: 0;
    position: relative;
    background-color: rgb(89, 166, 199);
}

.prcnt {
    position: absolute;
    right: -10%;
    top: 100%;
    font-weight: 600;
    color: #afafaf;
}

.skills {
    border: 3px solid black;
    border-radius: 0 2vmax 0 2vmax;
    position: relative;
    font-size: 1vmax;
    width: 15em;
    padding: 20px 40px;
    margin: 0px 4em;
    background-color: transparent;
    box-shadow: 1px 1px 10px 3px #61616199;
}

.skl-title {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8vmax;
    background-color: rgb(205, 203, 203);
    border: 2px solid rgb(0, 0, 210);
        color: #000000;
    border-radius: 0 1vmax 0 1vmax;
    padding: 5px 10px;
    font-weight: 500;
}
@media (max-width:768px) {
    .skills {
        font-size: 2vmax;
        width: 14em;
        padding: 20px 40px;
        margin: 0px;
    }

    .skl-title {
        font-size: medium;
    }
}